<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{%=o.htmlWebpackPlugin.options.title || 'A Poet Code Gyre' %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%= o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}

    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
  </head>
  <body style="height:100vh; background-color:black">
    <div id="react-root" style="height:100vh"></div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
    {% } %}
  </body>
</html>
